body {
    background-color: rgb(34, 33, 33);
}


h1 { 
color: rgb(255, 255, 255);  
font-family: Verdana;
text-align: center;
position: fixed;

}

h2 {
color: rgb(255, 255, 255);
font-family: Verdana;
text-align: center;
}


h3 {
color: rgb(255, 255, 255);
text-align: center;
font-family: Verdana;
}

p {
    color: rgb(255, 255, 255);
    font-family: Impact;
    text-align: center;
}



